:root {
    --text-color: #1a1a1a;
    --background-color: #f4f4f4;
    --input-background-color: #fff;
    --border-color: #ccc;
    --button-bg: #73d5fa;
    --button-bg-hover: #87d6f5;
    --toggle-color: #73d5fa;
    --toggle-color-hover: #87d6f5;
}

.auth_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    position: relative;
    overflow: hidden;
}

.auth_container {
    background-color: var(--input-background-color);
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.auth_container h2 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 24px;
}

.form_group {
    margin-bottom: 20px;
    text-align: left;
}

.form_group label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
}

.form_group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--input-background-color);
}

.auth_button {
    width: 100%;
    padding: 10px;
    background: var(--button-bg);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0 10px;
}

.auth_button:hover {
    background: var(--button-bg-hover);
}

.toggle_button {
    background: none;
    border: none;
    color: var(--toggle-color);
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    font-size: 16px;
}

.toggle_button:hover {
    color: var(--toggle-color-hover);
}

p {
    margin-top: 20px;
    color: var(--text-color);
}
